[submodule "Grocery-Shopping-App-with-Flutter-Dart-Frog"]
	path = Grocery-Shopping-App-with-Flutter-Dart-Frog
	url = https://github.com/maxonflutter/Grocery-Shopping-App-with-Flutter-Dart-Frog
[submodule "Travel-App-with-Flutter-Google-Maps-Platform"]
	path = Travel-App-with-Flutter-Google-Maps-Platform
	url = https://github.com/maxonflutter/Travel-App-with-Flutter-Google-Maps-Platform
