[submodule "travel_routes_with_google_maps_riverpod_and_flutter_animate_starter_code"]
	path = travel_routes_with_google_maps_riverpod_and_flutter_animate_starter_code
	url = https://github.com/maxonflutter/travel_routes_with_google_maps_riverpod_and_flutter_animate_starter_code
